<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <title>Fibona Naturals</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./index.css">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/jpeg" href="./Image/logo.jpeg">
   
</head>
<body>
    <header>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand navbar-white" href="#">
                    <img src="./image/logo.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Fibona Naturals
                </a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a class="acc" href="./account">Create Account</a>
                <a class="acc" href="./login">Login</a>
            </div>
        </nav>
    </header>
        <aside id="split">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-interval="500">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./Image/photo_6269407493784450721_y.jpg" class="d-block w-100" alt="..." style="max-width: auto; height: 550px;">
                    </div>
                    <div class="carousel-item">
                        <img src="./Image/photo_6269407493784450568_y.jpg" class="d-block w-100" alt="..." style="max-width: auto; height: 550px;">
                    </div>
                    <div class="carousel-item">
                        <img src="./Image/photo_6269407493784450608_y.jpg" class="d-block w-100" alt="..." style="max-width: auto; height: 550px;">
                    </div>
                </div>
            </div>
        </aside>    
        <br> <br>
        <article>
            <br>
            <br>
            <div id="para">
                <h5>About Spirulina</h5>
            <h6>
                Spirulina is a type of blue-green algae that is rich in protein, vitamins, minerals, carotenoids,  <br> and antioxidants that can help protect cells from damage. 
                It contains nutrients, <br> including B complex vitamins, beta-carotene, vitamin E, manganese, zinc,  <br> 
                copper, iron, selenium, and gamma linolenic acid (an essential fatty acid).
            </h6>
            </div>
            
        </article>   
        <br>
        <br>
        <main>
            <a href="./login">
                <div id="tablet"><img src="./image/photo_6269407493784450568_y.jpg" alt="" height="300px" width="300px"> <h4 id="pro">Tablet:</h4> <h5 id="rs">Rs:250/</h5></div>
            </a>
            <a href="./login">
                <div id="soap"><img src="./image/photo_6269407493784450608_y.jpg" alt="" height="300px" width="300px"> <h4 id="pro">Soap:</h4> <h5 id="rs">Rs:120/</h5></div>
            </a>
        </main>
        <br> <br>
        <footer>
<img src="./image/logo.jpeg" alt="" height="200px" width="200px" id="img">
<aside id="contact"><h4>Contact as: <i class="fa-solid fa-phone"></i></h4>
<h5>Email:fibonanaturals@gmail.com</h5>
<h5>Mobile: 
    +91 7338782676</h5></aside>

    <aside id="icon">
        <h5>Instagram  <i class="fa-brands fa-instagram"></i></h5> 
        <h5>FaceBook <i class="fa-brands fa-facebook"></i></h5> 
        <h5>Twitter <i class="fa-brands fa-twitter"></i></h5> 
    </aside>
    <br>
    <marquee behavior="" direction=""> <h4>&copy Copy right</h4></marquee>
        </footer>
    
</body>
</html>